<!--
Copyright 2014 Martin Grønholdt

This file is part of RadioPiWeb.

RadioPiWeb is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RadioPiWeb is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with RadioPiWeb.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block title %}RadioPi add play list{% endblock %}
{% block content %}
<form role="form" method="POST" action="{{ url_for('add_station_list') }}">
	<div class="form-group">
    	<label for="name">Name:</label>
    	<input type="text" class="form-control" name="name" placeholder="Enter name">
	</div>
    <button type="submit" value="Add" class="btn btn-default">
    	<span class="glyphicon glyphicon-plus"></span>
  		<span class="hidden-xs">Add</span>
  	</button>
</form>
{% endblock %}