<!--
Copyright 2014 Martin Grønholdt

This file is part of RadioPiWeb.

RadioPiWeb is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RadioPiWeb is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with RadioPiWeb.  If not, see <http://www.gnu.org/licenses/>.
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		{% block head %}
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>{% block title %}{% endblock %}</title>

    	<!-- Bootstrap -->
    	<link href="{{ url_for('.static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

    	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    	{% endblock %}
  	</head>
  	<body>
    	<div class="container">

      		<!-- Static navbar -->
      		<div class="navbar navbar-default" role="navigation">
        		<div class="container-fluid">
          			<div class="navbar-header">
            			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              				<span class="sr-only">Toggle navigation</span>
              				<span class="icon-bar"></span>
              				<span class="icon-bar"></span>
              				<span class="icon-bar"></span>
            			</button>
            			<a class="navbar-brand" href="/">RadioPi</a>
          			</div>
          			<div class="navbar-collapse collapse">
            			<ul class="nav navbar-nav">
            				<li class="active"><a href="{{ url_for('home') }}">Home</a></li>
              				<li class="active"><a href="{{ url_for('station_lists') }}">Internet stations</a></li>
            			</ul>
          			</div><!--/.nav-collapse -->
        		</div><!--/.container-fluid -->
 			</div>

			<!-- Error messages -->
			{% with messages = get_flashed_messages(category_filter=['error']) %}
  			{% if messages %}
    		<ul class="bg-danger">
    		{% for message in messages %}
      			<li class="text-danger">{{ message }}</li>
    		{% endfor %}
    		</ul>
  			{% endif %}
			{% endwith %}
			
			<!-- Info messages -->
			{% with messages = get_flashed_messages(category_filter=['info']) %}
  			{% if messages %}
    		<ul class="bg-success">
    		{% for message in messages %}
      			<li class="text-success">{{ message }}</li>
    		{% endfor %}
    		</ul>
  			{% endif %}
			{% endwith %}
	
			{% block content %}{% endblock %}
	
			<!-- Static footer -->
			<div class="navbar navbar-fixed-bottom">
				<div class="container">
    				<small class="text-muted">
    				Created using <a href="http://flask.pocoo.org/">Flask</a>, <a href="http://glyphicons.com/">Glyphicons</a> & <a href="http://getbootstrap.com/">Bootstrap</a><br />
    				RadioPiWeb Copyright &copy; 2014 Martin Gr&oslash;nholdt. Licensed under the <a href="http://www.gnu.org/licenses/gpl.html">GPL</a>
    				
 					</small>
  				</div>
  			</div>
		</div> <!-- /container -->

    	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
    	<script src="{{ url_for('.static', filename = 'js/bootstrap.min.js') }}"></script>
	</body>
</html>