<!--
Copyright 2014 Martin Grønholdt

This file is part of RadioPiWeb.

RadioPiWeb is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RadioPiWeb is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with RadioPiWeb.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "base.html" %}
{% block content %}
<p>{% block description %}{% endblock %}</p>
<div class="panel panel-default">
	<div class="panel-heading">
  		{% block listheader %}{% endblock %}
  	</div>
  	<div class="panel-body">
		<div class="list-group">
		{% block listitems %}{% endblock %}
		</div>
		
		<p>
			{% block buttons %}{% endblock %}
		</p>
	</div>
</div>
{% endblock %}
