{% extends "base.html" %}
{% block content %}
<p>{% block description %}{% endblock %}</p>
<div class="panel panel-default">
	<div class="panel-heading">
  		{% block listheader %}{% endblock %}
  	</div>
  	<div class="panel-body">
		<div class="list-group">
		{% block listitems %}{% endblock %}
		</div>
		<p>
  			<a href="{{ url_for('add_station_list') }}" role="button" class="btn btn-default">
  				<span class="glyphicon glyphicon-plus"></span>
  				<span class="hidden-xs">Add</span>
  			</a>
  			{% if path %}
  			<a href="{{ url_for('edit_station_list', playlist=path) }}" role="button" class="btn btn-default">
  				<span class="glyphicon glyphicon-pencil"></span>
  				<span class="hidden-xs">Edit</span>
  			</a>
  			<a href="{{ url_for('del_station_list', playlist=path) }}" role="button" class="btn btn-default">
  				<span class="glyphicon glyphicon-minus"></span>
  				<span class="hidden-xs">Delete</span>
  			</a>  			
  			{% else %}
  			<button type="button" class="btn btn-default disabled">
  				<span class="glyphicon glyphicon-pencil"></span>
  				<span class="hidden-xs">Edit</span>
  			</button>
  			<button type="button" class="btn btn-default disabled">
  				<span class="glyphicon glyphicon-minus"></span>
  				<span class="hidden-xs">Delete</span>
  			</button>
  			{% endif %}
		</p>
	</div>
</div>
{% endblock %}
