<!--
Copyright 2014 Martin Grønholdt

This file is part of RadioPiWeb.

RadioPiWeb is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

RadioPiWeb is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with RadioPiWeb.  If not, see <http://www.gnu.org/licenses/>.
-->
{% extends "list.html" %}
{% block title %}RadioPi internet radio stations{% endblock %}
{% block description %}On this page you can add, change, or delete stations.{% endblock %}
{% block listheader %}Station lists:{% endblock %}
{% block listitems %}
{% for item in m3u %}
{% if item['title'] == selected %}
  	<a class="list-group-item active" href="{{ url_for('edit_station_list_selected', playlist=playlist, station=item['title']) }}">{{ item['title'] }}</a>
{% else %}
	<a class="list-group-item" href="{{ url_for('edit_station_list_selected', playlist=playlist, station=item['title']) }}">{{ item['title'] }}</a>
{% endif %}
{% endfor %}
{% endblock %}
{% block buttons %}
<a href="{{ url_for('add_station', playlist=playlist) }}" role="button" class="btn btn-default">
	<span class="glyphicon glyphicon-plus"></span>
	<span class="hidden-xs">Add</span>
</a>
{% if not selected == '' %}
<a href="{{ url_for('edit_station', playlist=playlist, station=selected) }}" role="button" class="btn btn-default">
	<span class="glyphicon glyphicon-pencil"></span>
	<span class="hidden-xs">Edit</span>
</a>
<a href="{{ url_for('del_station', playlist=playlist, station=selected) }}" role="button" class="btn btn-default">
	<span class="glyphicon glyphicon-minus"></span>
	<span class="hidden-xs">Delete</span>
</a>  			
{% else %}
<button type="button" class="btn btn-default disabled">
	<span class="glyphicon glyphicon-pencil"></span>
	<span class="hidden-xs">Edit</span>
</button>
<button type="button" class="btn btn-default disabled">
	<span class="glyphicon glyphicon-minus"></span>
	<span class="hidden-xs">Delete</span>
</button>
{% endif %}
{% endblock %}
